@model UserInfoResponse

@{
    ViewData["Title"] = "Кабинет пользователя";
}

<h1>Личный кабинет</h1>

<div>
    <h4>Данные о пользователе</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FIO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FIO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastLogin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastLogin)
        </dd>
    </dl>
</div>

<form asp-action=@nameof(CabinetController.Logout) method="post">
    <input type="submit" value="Выйти" class="btn btn-primary" />
</form>

